src/main/resources/META-INF/BankWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.samplebank.masterclass.soa.cgi.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.samplebank.masterclass.soa.cgi.com/" name="BankWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.samplebank.masterclass.soa.cgi.com/" schemaLocation="http://54.72.155.92:80/samplebank/BankWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="transfer">
<part name="parameters" element="tns:transfer"/>
</message>
<message name="transferResponse">
<part name="parameters" element="tns:transferResponse"/>
</message>
<message name="isBalanceCovered">
<part name="parameters" element="tns:isBalanceCovered"/>
</message>
<message name="isBalanceCoveredResponse">
<part name="parameters" element="tns:isBalanceCoveredResponse"/>
</message>
<message name="isAccountExist">
<part name="parameters" element="tns:isAccountExist"/>
</message>
<message name="isAccountExistResponse">
<part name="parameters" element="tns:isAccountExistResponse"/>
</message>
<message name="isAccountOwner">
<part name="parameters" element="tns:isAccountOwner"/>
</message>
<message name="isAccountOwnerResponse">
<part name="parameters" element="tns:isAccountOwnerResponse"/>
</message>
<portType name="BankWeb">
<operation name="transfer">
<input wsam:Action="http://ws.samplebank.masterclass.soa.cgi.com/BankWeb/transferRequest" message="tns:transfer"/>
<output wsam:Action="http://ws.samplebank.masterclass.soa.cgi.com/BankWeb/transferResponse" message="tns:transferResponse"/>
</operation>
<operation name="isBalanceCovered">
<input wsam:Action="http://ws.samplebank.masterclass.soa.cgi.com/BankWeb/isBalanceCoveredRequest" message="tns:isBalanceCovered"/>
<output wsam:Action="http://ws.samplebank.masterclass.soa.cgi.com/BankWeb/isBalanceCoveredResponse" message="tns:isBalanceCoveredResponse"/>
</operation>
<operation name="isAccountExist">
<input wsam:Action="http://ws.samplebank.masterclass.soa.cgi.com/BankWeb/isAccountExistRequest" message="tns:isAccountExist"/>
<output wsam:Action="http://ws.samplebank.masterclass.soa.cgi.com/BankWeb/isAccountExistResponse" message="tns:isAccountExistResponse"/>
</operation>
<operation name="isAccountOwner">
<input wsam:Action="http://ws.samplebank.masterclass.soa.cgi.com/BankWeb/isAccountOwnerRequest" message="tns:isAccountOwner"/>
<output wsam:Action="http://ws.samplebank.masterclass.soa.cgi.com/BankWeb/isAccountOwnerResponse" message="tns:isAccountOwnerResponse"/>
</operation>
</portType>
<binding name="BankWebPortBinding" type="tns:BankWeb">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="transfer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="isBalanceCovered">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="isAccountExist">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="isAccountOwner">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BankWebService">
<port name="BankWebPort" binding="tns:BankWebPortBinding">
<soap:address location="http://54.72.155.92:80/samplebank/BankWebService"/>
</port>
</service>
</definitions>